.video-area {
  height: calc(100vh - 200px);
}
.video-tile.full-size {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 200px;
}
.video-tile.half-size {
  width: 48%;
  height: 48%;
  min-width: 300px;
  min-height: 200px;
}
